html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.header {
    height: 164px;
    margin-bottom: 30px;
    padding-top: 75px;
}

/* site navigation */
.menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

.menu li {
    margin-top: 75px;
    margin-bottom: 75px;
    line-height: 14px;
}

.menu_link {
    color: #626262;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 14px;
}

.menu_link:hover,
.menu_link:focus{
    color: tomato;
}
/* main */


.sml {
    display: inline-block;
    width: 420px;
    height: 490px;
    margin-bottom: 120px;
}

.card-2,
.card-4,
.card-6 {
    margin-left: 56px;
}

.card-5,
.card-6 {
    margin-bottom: 55px;
}

.card__title {
    color: #626262;
    font-size: 30px;
    font-weight: lighter;
}

.card__thyme {
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: lighter;
}
.card__content {
    color: #626262;
    font-size: 14px;
}
.button {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
    height: 60px;
    width: 165px;
    font-size: 20px;
    line-height: 19px;
    font-family: serif;
    color: #626262;
    border: solid 1px #626262;
    background: transparent;
    cursor: pointer;
}